<body>
  <div class="everything">
    <div class="bio-container"></div>

    <div class="main-container">

      <div class="heading">

        <h1>Donald Wade</h1>
        <h2>Innovate <i class="fa fa-chevron-right"></i> Design <i class="fa fa-chevron-right"></i> Build <i class="fa fa-chevron-right"></i> Market <i class="fa fa-chevron-right"></i> Monetise </h2>

      </div>

      <div class="section group">
        <!-- <div class="blur-background">
        </div> -->
      </div>

      <nav class="nav-bar">
        <ul>
          <span class="links">
            <% @links.each do |link| %>
            <li>
              <a href=<%= link.downcase %> id=<%= link.downcase %>>
                <%= link %>
              </a>
            </li>
            <% end %>
          </span>
        </ul>
      </nav>

      <div class="section group">

        <div class="box col span_8_of_12 content-box" id="box-2">
          <h3>A bit about me</h3>
          <p>
            I've been into computing since my Dad brought home a Sinclair ZX81.
          </p>
          <p>
            In my teens I broke and fixed lots of Windows computers. I built my first desktop computer when I was in my early twenties.
          </p>

          <p>
            But I've always worked in other fields.
          </p>

          <p>
            Now I've decided to make my living from doing what has always been my passion.
          </p>

        </div>

        <!-- blur-box -->

        <div class="box col span_4_of_12 content-box" id="box-1">
          <h3>A rough chronology</h3>
          <p>
            Born: London, UK
          </p>

            <p>
            Grew up: Bradford, UK
            </p>

            <p>
            Undergraduate studies: French and German at Oxford University
            </p>

            <p>
            Graduated with First Class Honours
            </p>

            <p>
            Postgraduate studies, also at Oxford: Theory and Practice of Literary Translation into German in the 18th Century
            </p>

            <p>
            Graduated as Master of Studies with Distinction
            </p>

            <p>
            Studied the first year of a PhD; decided to engage with the real world for a bit instead, have not looked back.
            </p>

            <p>
            Qualified as a Journalist, Highbury College Portsmouth
            </p>

            <p>
            Worked briefly in newspaper journalism before being hired as a professional copywriter for a technical Marketing company called Writing Machine. Stayed there too long for everyone, had worked my way up to Head of Writing at the agency by the time I left.
            </p>

            <p>
            Talked my way into a job with a startup recruitment company called Practicus.
            </p>

            <p>
            Did quite well there, was the first consultant ever to write £100,000 in a single month.
            </p>

            <p>
            Became the go-to guy for difficult things: setting up a new desk to cover the retail or pharmaceutical industry.
            </p>

            <p>
            Was asked to help set up the Australian division of the business. Did so. Moved on.
            </p>

            <p>
            Worked very briefly for another recruitment company that I didn't enjoy very much.
            </p>

            <p>
            Set up my own recruitment consultancy. Just me and some pretty major accounts. Enjoyed being my own boss, having control and seeing and owning every step of the value chain.
            </p>

            <p>
            Fell out of love with recruitment, decided to study full time web development course at General Assembly Sydney. Learned a whole load of new stuff and really got the bug for learning more in tech.
            </p>

            <p>
            And there you have it.
            </p>


          </p>
        </div>

        <!-- blur-box -->


        <div class="section group">

          <div class="box col span_6_of_12">
            <p>
              <h3><span class="delete-me">Some of the things that make me, me:</h3> </span>
            </p>
            <div class="interests"></div>
          </div>

          <div class="section group">
            <div class="box col span_6_of_12"></div>

            <div class="box col span_6_of_12">
              <div class="footer">
                <a href="https://github.com/rwck" target="_blank"><span class="my_fontawesome">&#xf092</span>

                </a>

                <a href="https://au.linkedin.com/in/donaldrwade
            " target="_blank"><span class="my_fontawesome">&#xf08c</span>

                </a>

                <a href="https://twitter.com/donaldrwade" target="_blank">
                  <span class="my_fontawesome">&#xf081</span>

                </a>
                <a href="mailto:rwckdw@gmail.com?subject=WebContact:">
                    <span class="my_fontawesome">&#xf0e0</span>

                </a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</body>
