{% extends "views/parent.html" %} {% block main %}

<div class="section group">

  <div class="box col span_4_of_12 content-box" id="box-2">
    <h3>Hi. I'm Donald</h3>
    <p>
      I like helping people to do what they do, better.

    </p>
  </div>

  <div class="box col span_8_of_12 content-box" id="box-1">
    <h3>Innovation</h3>
    <p>
      I think innovation happens best where different, seemingly unconnected, disciplines collide.
    </p>
    <p>
      I've been passionate about computing from an early age and I'm now delighted to be in a position where I can combine business, marketing, technical and other skills to make things that help people do the things they want to do.
    </p>



  </div>


  <div class="section group">

    <div class="box col span_12_of_12">
      <p>
        <h3>
          <span class="delete-me">Some of the things that make me, me:</h3>
        </span>
      </p>
      <div class="interests"></div>
    </div>

    <div class="section group">
      <div class="box col span_6_of_12"></div>

      <div class="box col span_6_of_12">
        <div class="footer">
          <a href="https://github.com/rwck" target="_blank">
            <span class="my_fontawesome">&#xf092</span>

          </a>

          <a href="https://au.linkedin.com/in/donaldrwade
            " target="_blank">
            <span class="my_fontawesome">&#xf08c</span>

          </a>

          <a href="https://twitter.com/donaldrwade" target="_blank">
            <span class="my_fontawesome">&#xf081</span>

          </a>
          <a href="mailto:rwckdw@gmail.com?subject=WebContact:">
            <span class="my_fontawesome">&#xf0e0</span>

          </a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
